body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #41b823;
    color: #fff;
    padding: 10px;
    text-align: left;
}
.left {
    display: flex;
    align-items: center;
}
#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
}
#name {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
#section {
    width: 100%;
}
.imagen_conteiner img {
    width: 100%;
    display: block;
}
.hero {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 600px;
}
.hero #infomation{
    padding: 1%;
    color: #fff;
    line-height: 50%;
    font-size: 19px;
}

input{
    border-radius: 10px;
    height: 30px;
    width: 600px;
    margin-bottom: 10px;
}

#searchbt {
    display: inline-block;
    padding: 9px 10px;
    background-color: #41b823;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos de la pagina de busqueda */
main {
    padding: 30px;
}

.searchs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; 
}

.search a {
    display: block;
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

