body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #41b823;
    color: #fff;
    padding: 2px 2%;
}
.headerbar {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerbar #left {
    display: flex;
    align-items: center;
}


#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
}
#name {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
#section {
    width: 100%;
}
.imagen_conteiner img {
    width: 100%;
    display: block;
}
.hero {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 600px;
}
.hero #infomation{
    padding: 1%;
    color: #fff;
    line-height: 50%;
    font-size: 19px;
}

#searchbox{
    border-radius: 10px;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
}

#searchbt {
    display: inline-block;
    padding: 9px 10px;
    background-color: #41b823;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
}

.hero #searchbox{
    width: 600px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    align-items: flex-end;
}

/* Estilos de la pagina de busqueda */
#searchmain{
    padding: 30px 2%;
    min-height: 750px;
}

.searchs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; 
}

.search a {
    display: block;
    margin-bottom: 15px;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    width: 600px;
}

.searcharea {
    display: flex;
    width: 300;
    flex-direction: column;
}

.buttonsarea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation {
    margin-left: 105px;
}

.buttonsarea a{
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}
/* Estilos de la pagina de la planta */
#plantmain{
    padding: 10px;
    height: 750px;
}

.headerContent h1,
.headerContent h5 {
    margin: 1px 0;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.container .informacionContent {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #f0f0f0;
    text-align: left;
    width: 250px;
    font-size: 25px;
}
.informacionContent .atributes {
    background-color: rgb(240, 238, 145);
}
.informacionContent h6 {
    margin: 4px 0;
    margin-left: 4px;
}


